*.elf
*.i64
*.id0
*.id1
*.id2
*.idb
*.pfs0
*.nacp
*.nam
*.nro
*.o
*.txt
*.til
*.pchtxt
*.Nin_NX_NVN.szs
.vscode/
build*/
temp/
Spl2_RE/
debug/
release/
lib/
linkerscripts/symstemp.ld
scripts/.idea/*
!exported.txt
.idea/workspace.xml
/.idea
